<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnrealConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnrealConsole.Properties.Settings>
            <setting name="LastPlatform" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>827, 512</value>
            </setting>
            <setting name="CrashFilter" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="ShowAllTargetInformation" serializeAs="String">
                <value>False</value>
            </setting>
        </UnrealConsole.Properties.Settings>
    </userSettings>
</configuration>